<!DOCTYPE html>
<html>
	<title>My Test App</title>
	<head>
		<script src= {{ jQuerySource }}  ></script>
		<link href="/stylesheets/MainPage.css" media="screen" rel="Stylesheet" type="text/css" />
	</head>
	<body>
		<h3>Hello {{ userName }} from {{ source }}</h3>
		<div class="card">
			<input id="n1" type="number" value="0">
			<input id="n2" type="number" value="0"><br>
			<input id="b1" type="button" value="sum" onClick="sumValues()">
			<input id="b2" class="button" type="button" value="sum with Server" onClick="sumValuesWithServer()"><br>
		
			<form>
				<b>Result: </b>
				<input id="result" type="number" size="5" readonly><br>	
				<p><b>Result from server: </b></p> <p id="resultServer"></p>
			</form>
			
		</div>
		<input id="sumHystoryButton" type="button" value="Show all sums done with Server" onClick="showSumServerHystory()"><br>
		
	</body>
	
	<script type="text/javascript">
		function sumValues(){
			var res = parseInt($('#n1').val()) + parseInt($('#n2').val());
			//document.getElementById('result').innerHTML = res;
			$('#result').val(res);
		};


		function sumValuesWithServer(){
			var n1 = $('#n1').val();
			var n2 = $('#n2').val();//document.getElementById('n2').value;

			var parammenters = "first="+n1+"&second="+n2;
			requestAsyncAndLoadIntoElement("sumfunction",parammenters,$('#resultServer'));
		}

		function showSumServerHystory(){
			var newElement = document.createElement("span");

			//newElement.innerHTML = "I'm a new Node :D"
			newElement.setAttribute("id","sumHitoryStream");
			var sumHystoryButton = $("#sumHystoryButton");//.next();
			//inserts newElement right after sumHystoryButton
			sumHystoryButton.after(newElement);
			
			requestAsyncAndLoadIntoElement("sumhistory","",$("#sumHitoryStream"));
		}

		function requestAsyncAndLoadIntoElement(suburl, parammenters, element)
		{
			//suburl and parammenters should be strings
			//element should be a jQuery element
			var xmlhttp;
			if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();}
			else{// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");}
			//make the request
			xmlhttp.open("GET",suburl+"?"+parammenters,true);
			xmlhttp.send();
			xmlhttp.onreadystatechange=function(){
				if (xmlhttp.readyState < 4) {
					element.html("Loading... ");}
				if (xmlhttp.readyState==4 && xmlhttp.status==200){
					element.html(xmlhttp.responseText);}
			}
		}

	</script>

</html>